



.week{
display: grid;
border: solid;
border-color: red;
gap: 20px;
column-gap: 10px; 
/* it is possible to change the direction and make it vertical  */
/* flex-direction: column; */

/* gap will add will add space around the elements, it is possible to use
row-gap or column-gap to be more specific  */

row-gap: 10px; 

/* wrap will fit as many children as possible on the screen till it reaches the end then
it will add another row or colum depending on the flex-direction */
flex-wrap: wrap;
}

